﻿@{
    ViewBag.Title = "Типы связей";
}

<div class="schematics-window">
    <div class="schematics-control pull-right" id="form" style="width:300px;">
    </div>

    <div class="schematics-control" id="list" style="margin-right: 300px !important; height: 800px; overflow: auto;">
    </div>

</div>


<script>
    $(document).ready(function () {
        console.log("Старт сервисов схематики.");

        //список
        var list = f$.linkTypeList("list", function (event, data) {
            if (event == "update") {
                //чтение из базы данных
                var item = list.getItem(data, function (linkType) {
                    form.load(linkType);
                });
            }
        });

        //форма редактирования свойств
        var form = f$.linkTypeForm("form", function (linkType) /*Добавление/Сохранение*/ {
            if (!linkType.id) {
                list.add(linkType);
            }
            else {
                list.update(linkType.id, linkType);
            }
        }, function () {
        });
    });
</script>
