﻿.schematics-window {
    margin: 0px !important; 
    padding: 5px !important;    
}

.schematics-control {
    margin : 0px !important;
    padding : 5px !important;
}

.schematics-toolbar {
    margin-bottom : 5px;
}

.schematics-layout {
    border: 1px solid #ccc;
}

.schematics-visible {
    display: block;
}

.schematics-hidden {
    display: none !important;
}

.form-group {
    margin-bottom : 10px !important; 
}
