﻿@{
    ViewBag.Title = "Схематика";
}

<div class="schematics-window" oncontextmenu="return false;">
    <div class="schematics-control pull-right" style="width:320px;">
        <div id="schematics_action_panel" style="display:none;">
            <div style="margin-top : 250px;" class="text-center">
                <p id="action_description">
                </p>

                <button type="button" id="cancel_action" class="btn btn-danger" onclick="CancelAction()" title="Отмена текущей операции">Отмена</button>
            </div>
        </div>

        <div id="schematics_properties_panel">

            <ul class="nav nav-tabs small" role="tablist">
                <li role="presentation" class="active"><a href="#tnode" aria-controls="home" role="tab" data-toggle="tab" id="atnode">Узел</a></li>
                <li role="presentation"><a href="#tlink" aria-controls="profile" role="tab" data-toggle="tab" id="atlink">Связь</a></li>
                <li role="presentation"><a href="#tgroup" aria-controls="messages" role="tab" data-toggle="tab" id="atgroup">Группа</a></li>
                <li role="presentation"><a href="#tlib" aria-controls="messages" role="tab" data-toggle="tab" id="atlib">Библиотека</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tnode">
                    <br />
                    <div id="node_form"></div>

                    <div class="form-group">
                        <div id="node_layout" style="width: 300px; height: 400px;">
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="tlink">
                    <br />
                    <div id="link_form"></div>

                </div>
                <div role="tabpanel" class="tab-pane" id="tgroup">
                    <br />
                    <div id="group_form"></div>

                </div>
                <div role="tabpanel" class="tab-pane" id="tlib">
                    <br />
                    <div class="form-group">
                        <label for="group-list">Элемент библиотеки:</label>
                        <select class="form-control" id="group-list">
                            <option value="">Не выбрано</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div id="lib_layout" style="width: 300px; height: 400px;">
                        </div>
                    </div>

                    <button id="copy_paste_group" type="button" class="btn btn-success disabled" onclick="CopyPaste()" title="Добавить группу из библиотеки">Вставить</button>
                </div>
            </div>

        </div>
    </div>

    <div class="schematics-control" style="margin-right: 320px !important;">
        <div class="schematics-toolbar" id="toolbar">
            <div class="btn-group" id="modes_toolbar">
                <button type="button" id="select_mode" class="btn btn-default glyphicon glyphicon-info-sign" onclick="Select()" title="Редактирование свойств выбранного объекта"></button>
                <button type="button" id="edit_mode" class="btn btn-default glyphicon glyphicon-pencil" onclick="Modify()" title="Редактирование геометрии выбранного объекта"></button>
                <button type="button" id="delete_mode" class="btn btn-danger glyphicon glyphicon-remove" onclick="Delete()" title="Удаление выбранного объекта"></button>
            </div>
            <div class="btn-group schematics-hidden" id="node_toolbar">
                <button type="button" class="btn btn-default glyphicon glyphicon-menu-right" onclick="RotateNode(-90)" title="Повернуть выбранный узел на 90 градусов"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-menu-left" onclick="RotateNode(90)" title="Повернуть выбранный узел на -90 градусов"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-menu-down" onclick="RotateNode(180)" title="Повернуть выбранный узел на 180 градусов"></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default glyphicon glyphicon-edit" onclick="CopyBox()" title="Выбрать группу объектов"></button>
            </div>
            <div class="btn-group schematics-hidden" id="box_toolbar">
                <button type="button" class="btn btn-default glyphicon glyphicon-paste" onclick="PasteBox()" title="Скопировать выбранную группу"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-move" onclick="MoveBox()" title="Переместить выбранную группу"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-menu-right" onclick="RotateBox(-90)" title="Повернуть выбранную группу на 90 градусов"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-menu-left" onclick="RotateBox(90)" title="Повернуть выбранную группу на -90 градусов"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-menu-down" onclick="RotateBox(180)" title="Повернуть выбранную группу на 180 градусов"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-erase" onclick="DeleteBox()" title="Удалить выбранную группу"></button>
            </div>
            <div class="btn-group" id="toggle_toolbar">
                <button type="button" class="btn btn-success glyphicon glyphicon-globe" onclick="ToggleGeo()" title="Включение/отключение слоя геоподосновы"></button>
                <button type="button" class="btn btn-info glyphicon glyphicon-wrench" onclick="ToggleAuxiliary()" title="Включение/отключение слоя вспомогательной геометрии"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-th" onclick="ToggleGrid()" title="Включение/отключение сетки"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-font" onclick="ToggleLabels()" title="Включение/отключение подписей"></button>
                <button type="button" id="orthogonal_mode" class="btn btn-default glyphicon glyphicon-retweet active" onclick="ToggleOrthogonal()" title="Включение/отключение ортогонального режима редактирования геометрии связей"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-fullscreen" onclick="Fit()" title="Вписать схему в экран"></button>
            </div>
            <div class="btn-group">
                <div id="zoom">
                </div>
            </div>
            <div class="btn-group">
                <span>Номинальный масштаб:</span>
            </div>
            <div class="btn-group">
                <select class="form-control" id="nominal-zoom-list" title="Номинальный масштаб">
                    <option value="">- не выбран -</option>
                </select>
            </div>
            <div class="btn-group schematics-hidden" id="geometry_toolbar">
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" onclick="SaveLinearGeometry()" title="Сохранить геометрию связи"></button>
            </div>
        </div>

        <div id="layout" class="schematics-layout" style="height: 800px;">
        </div>
        <div id="status" class="small">
        </div>
    </div>
</div>


<script>
    //Основная карта
    var layout = null;
    //Библиотека
    var layoutLib = null;
    //Выбранный тип узла
    var layoutNode = null;

    //Форма свойств узла
    var nodeForm = null;
    //Форма свойств связи
    var linkForm = null;
    //Форма свойств группы
    var groupForm = null;

    //Список узлов
    var nodes = null;
    //Список связей
    var links = null;
    //Список групп
    var groups = null;

    //Текущий редактируемый примитив
    var primitive = null;
    //Текущая редактируемая геометрия
    var geometry = null;

    //Режим редактирования (да/нет): если 'Выбор', то false, иначе true
    var editMode = null;
    //Режим ортогональное редактирования связей (да/нет)
    var orthogonal = true;

    //Следующая операция (запускаемая после успешного завершения текущей операции)
    var actionToStart = Select;

    //Сохранение геометрии связи
    function SaveLinearGeometry() {
        var p = primitive;
        var g = geometry;

        if (orthogonal) {
            layout.setAnimationGeometry([]);
            layout.makeLineStringOrthogonal(g)
        }

        switch (p.type) {
            case "node": {
                nodes.getItem(p.id, function (node) {
                    node.geometry = [g];
                    nodes.update(node.id, node);
                });

                break;
            } 
            case "link": {
                if (layout.validateLinkGeometry(g)) {
                    links.getItem(p.id, function (link) {
                        layout.updateLinkConnectivity(link, g);
                        links.update(link.id, link);
                    });
                } else {
                    alert(linkConnectivityAlert);
                    setTimeout(actionToStart, 100);
                };

                break;
            }
        }

        $("#geometry_toolbar").addClass("schematics-hidden");
    }

    //Поворот выбранного узла
    function RotateNode(angle) {
        var p = primitive;
        nodes.getItem(p.id, function (node) {
            node.rotation += angle;

            if (node.rotation >= 360) {
                node.rotation -= 360;
            }

            if (node.rotation < 0) {
                node.rotation += 360;
            }

            nodes.update(node.id, node);
        });
    }

    //Переключение режима редактирования
    function EditMode(enabled, description) {
        editMode = enabled;

        if (enabled) {
            $("#schematics_action_panel").show();
            $("#schematics_properties_panel").hide();

            nodeForm.loadDefault();
            linkForm.loadDefault();
            groupForm.loadDefault();
        } else {
            $("#schematics_action_panel").hide();
            $("#schematics_properties_panel").show();
        }

        description = description || "...";

        $("#action_description").empty()
                    .append("<span>" + description + "</span>");
    }

    //Отмена текущего режима (операции)
    function CancelAction() {
        layout.cancelAction();
    }

    //Действия по отмене текущего режима (операции)
    function CancelCurrentAction() {
        if (!layout.getCurrentAction()) {
            return;
        }

        layout.refresh()
        layout.setGeometry([]);
        layout.setAnimationGeometry([]);

        $("#geometry_toolbar").addClass("schematics-hidden");
        $("#node_toolbar").addClass("schematics-hidden");
    }

    //Режимы
    function Select() {
        CancelCurrentAction();

        actionToStart = Select;
        layout.startSelect();
        SetActiveMode("select_mode");

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(false);
    }

    function Modify() {
        CancelCurrentAction();

        actionToStart = Modify;
        layout.startModify();
        SetActiveMode("edit_mode");

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Режим редактирования геометрии.<br/>Необходимо выбрать геометрию и отредактировать ее с помощью перемещения активных точек.");
        EnableBoxOperations(false);
    }

    function Delete() {
        CancelCurrentAction();

        actionToStart = Delete;
        layout.startDelete();
        SetActiveMode("delete_mode");

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Режим удаления.<br/>Необходимо последовательно выбирать удаляемые элементы.");
        EnableBoxOperations(false);
    }

    //Активирование кнопки соответствующего режима
    function SetActiveMode(id) {
        $("#modes_toolbar button").each(function () {
            if ($(this).attr("id") == id) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    }




    //Работа с копированием
    function CopyBox() {
        CancelCurrentAction();

        actionToStart = _CopyBox;
        layout.drawMode = "copy";

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Выбор области для копирования, перемещения или удаления.<br/>Необходимо нанести контур выбираемого фрагмента.");
        EnableBoxOperations(false);

        _CopyBox();
    }

    function _CopyBox() {
        layout.startDraw("Box");
    }

    function PasteBox() {
        CancelCurrentAction();

        actionToStart = PasteBox;
        layout.drawMode = "paste";
        layout.startDrawBoxPoint();

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Вставка копируемого элемента.<br/>Необходимо указать местоположение левого верхнего угла копируемого элемента.");
    }

    function MoveBox() {
        CancelCurrentAction();

        actionToStart = Select;
        layout.drawMode = "move";
        layout.startDrawBoxPoint();

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Режим перемещения.<br/>Необходимо указать левый верхний угол нового местоположения выбранного фрагмента.");
    }

    function RotateBox(angle) {
        CancelCurrentAction();

        actionToStart = Select;
        layout.rotateBox(angle);
    }

    function DeleteBox() {
        CancelCurrentAction();

        if (!confirm("Удалить выбранные объекты")) {
            return;
        }

        actionToStart = Select;
        layout.deleteBox();

        EnableBoxOperations(false);
    }

    //Включение/отключение панели операций с выбранной группой объектов
    function EnableBoxOperations(enable) {
        if (enable) {
            $("#box_toolbar").removeClass("schematics-hidden");
        } else {
            $("#box_toolbar").addClass("schematics-hidden");
            layout.clearBox();
        }
    }

    //Копирование из библиотеки
    function CopyPaste() {
        CancelCurrentAction();

        var id = $("#group-list").val();
        if (!id) {
            alert("Необходимо выбрать группу для копирования!");
            return;
        }

        actionToStart = CopyPaste;

        layout.groupToCopyId = id;
        layout.drawMode = "copy-paste";
        layout.startDrawExtentPoint(JSON.parse($("#group-list").find("option[value='" + id + "']").attr("extent")));

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Вставка элемента из библиотеки.<br/>Необходимо указать местоположение левого верхнего угла вставляемого элемента.");
    }

    //Рисование примитивов
    function DrawNode() {
        nodeTypes.getItem(layout.node.type, function (nt) {
            DrawNodeAs(nt["view-type"] || 0);
        });
    }

    function DrawNodeAs(view) {
        CancelCurrentAction();

        actionToStart = DrawNode;
        layout.drawMode = "node";

        var message = ""

        switch (view) {
            case 0: {
                layout.startDrawSymbol(layoutNode.getShownStyles(), layout.node.rotation);

                message = "Нанесение узла.<br/>Необходимо нанести точку - центр символа узла.";
                break;
            }
            case 1: {
                if (orthogonal) {
                    layout.startDraw("OrthogonalLineString");
                } else {
                    layout.startDraw("LineString");
                }

                message = "Нанесение узла.<br/>Необходимо нанести линейную геометрию.";
                break;
            }
        }

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, message);
        EnableBoxOperations(false);
    }

    function DrawLink() {
        CancelCurrentAction();

        actionToStart = DrawLink;
        layout.drawMode = "link";

        if (orthogonal) {
            layout.startDraw("OrthogonalLineString");
        } else {
            layout.startDraw("LineString");
        }

        layout.setVisibleAuxiliary(true);
        EditMode(true, "Нанесение связи.<br/>Необходимо соединить линией два узловых терминала.");
        EnableBoxOperations(false);
    }

    function DrawGroup() {
        CancelCurrentAction();

        actionToStart = DrawGroup;
        layout.drawMode = "group";
        layout.startDraw("Box");

        if (!auxiliaryIsOnByUser)
            layout.setVisibleAuxiliary(false);

        EditMode(true, "Нанесение группы.<br/>Необходимо нанести прямоугольник - контур группы.");
        EnableBoxOperations(false);
    }

    //Включение и отключение слоев
    function ToggleGrid() {
        layout.toggleGrid();
    }

    function ToggleGeo() {
        layout.toggleGeo();
    }

    var auxiliaryIsOnByUser = false;
    function ToggleAuxiliary() {
        layout.toggleAuxiliary();
        auxiliaryIsOnByUser = layout.getVisibleAuxiliary();
    }

    function ToggleLabels() {
        layout.toggleLabels();
    }

    function ToggleOrthogonal() {
        orthogonal = !orthogonal;

        if (orthogonal) {
            $("#orthogonal_mode").addClass("active");
        } else {
            $("#orthogonal_mode").removeClass("active");
        }
    }

    function Fit() {
        layout.fit();
    }

    //Сохранение контекста
    $(window).on("unload", function () {
        if (!layout)
            return;

        layout.saveEnvironment();
    });

    var linkConnectivityAlert = "Связь должна соединять два узла через терминалы или линейную геометрию! Возможно, на данном масштабе не удалось выбрать соответствующую геометрию!"

    //Загрузка
    $(document).ready(function () {
        console.log("Старт сервисов схематики.");

        //Загрузка библиотеки
        $.get("api/schematics/group-list")
        .done(function (data) {
            data.list.forEach(function (value) {
                $("#group-list").append("<option value='" + value.id + "' extent='" + JSON.stringify(value.extent) + "'>" + value.name + "</option>")
            });

            $("#group-list").on("change", function () {
                var id = $(this).val();

                if (!id) {
                    $("#copy_paste_group").addClass("disabled");
                    return;
                } else {
                    $("#copy_paste_group").removeClass("disabled");
                }

                if (!layoutLib) {
                    //layout для отображения элемента библиотеки
                    layoutLib = s$.netLayout("lib_layout", "lib");
                    layoutLib.showGrid(false);
                    layoutLib.setVisibleAuxiliary(false);
                }

                var extent = JSON.parse($(this).find("option[value='" + id + "']").attr("extent"));
                layoutLib.fitByExtent(extent);
            })
        })
        .fail(function () { });

        //layout для отображения схемы
        layout = s$.netLayout("layout");
        layout.setStatusBar("status");
        layout.setZoomBar("zoom");
        layout.restoreEnvironment();

        //Загрузка номинальных масштабов
        layout.getZooms().forEach(function (zoom) {
            $("#nominal-zoom-list").append("<option value='" + zoom + "'>" + zoom + "</option>")
        });
        $("#nominal-zoom-list").on("change", function () {
            layout.setNominalZoom(parseInt($(this).val()));
        });
        $("#nominal-zoom-list").val(layout.getNominalZoom());

        //Карта для отображения выбранного узла
        layoutNode = s$.netLayout("node_layout", "blank");
        layoutNode.showGrid(false);
        layoutNode.setVisibleAuxiliary(false);

        //Обновление карты после обновления данных
        var refresh = function () {
            layout.refresh()
            layout.setGeometry([]);

            if (actionToStart) {
                setTimeout(actionToStart, 500);
            }
        }
        layout.boxOperationCallback = refresh;

        //Источники данных
        nodes = f$.nodeDataSet(refresh);
        links = f$.linkDataSet(refresh);
        groups = f$.groupDataSet(refresh);
        nodeTypes = f$.nodeTypeDataSet();

        //Обработка нанесения нового объекта
        layout.on("drawend", function (geometry) {
            if (geometry.length == 0) {
                return;
            }

            geometry.forEach(function (g) {
                switch (layout.drawMode) {
                    case "node":
                        var node = layout.node;
                        if (node) {
                            if (g.type == "Point") {
                                node.position = g.coordinates;
                                node.location = layout.transformToLonLat(node.position);
                            } else {
                                node.geometry = [g];
                            }

                            nodes.add(node);
                        }
                        break;
                    case "link":
                        var link = layout.link;
                        if (link) {
                            if (orthogonal) {
                                var cs = g["coordinates-string"];
                                var lp = layout._$lastCoordinate;
                                if (lp && cs.length == 2) {
                                    if (cs[1][0] != lp[0] || cs[1][1] != lp[1]) {
                                        cs.push(lp);
                                    }
                                }
                            }

                            if (layout.validateLinkGeometry(g)) {
                                layout.updateLinkConnectivity(link, g);
                                links.add(link);
                            } else {
                                alert(linkConnectivityAlert);
                                layout.setGeometry([]);
                                setTimeout(actionToStart, 100);
                            }
                        }
                        break;
                    case "group":
                        var group = layout.group;
                        if (group) {
                            group.geometry = [g];
                            groups.add(group);
                        }
                        break;
                    case "copy-paste":
                        if (layout.groupToCopyId) {
                            layout.copyPasteByGroupId(layout.groupToCopyId, g.coordinates);
                        }
                        break;
                    case "copy":
                        layout.copyBox(g, function (scope) {
                            if (scope) {
                                EnableBoxOperations(true);
                            }
                        });

                        layout.setGeometry([]);
                        setTimeout(actionToStart || Select, 100);
                        break;
                    case "paste":
                        layout.pasteBox(g.coordinates);
                        break;
                    case "move":
                        layout.moveBox(g.coordinates);
                        break;
                }
            });
        });

        //Обработка завершения редактирования объекта
        layout.on("modifyend", function (s) {
            s.forEach(function (p) {
                var g = p.geometry;
                switch (p.type) {
                    case "node":
                        nodes.getItem(p.id, function (node) {
                            if (g.type == "Point") {
                                node.position = g.coordinates;
                                node.location = layout.transformToLonLat(node.position);
                                nodes.update(node.id, node);
                            } else {
                                primitive = p;
                                geometry = g;

                                if (orthogonal) {
                                    var ag = JSON.parse(JSON.stringify(g));
                                    layout.makeLineStringOrthogonal(ag)
                                    layout.setAnimationGeometry([ag]);
                                }

                                $("#geometry_toolbar").removeClass("schematics-hidden");
                            }
                        });
                        break;
                    case "link":
                        primitive = p;
                        geometry = g;

                        if (orthogonal) {
                            var ag = JSON.parse(JSON.stringify(g));
                            layout.makeLineStringOrthogonal(ag)
                            layout.setAnimationGeometry([ag]);
                        }

                        $("#geometry_toolbar").removeClass("schematics-hidden");
                        break;
                    case "group":
                        groups.getItem(p.id, function (group) {
                            group.geometry = [g];
                            groups.update(group.id, group);
                        });
                        break;
                }
            });
        })

        //Обработка выбора объекта
        layout.on("selectionend", function (s) {
            if (s.length > 0) {
                var p = s[0];
                primitive = p;

                switch (p.type) {
                    case "node":
                        if (editMode) {
                            $("#node_toolbar").removeClass("schematics-hidden");
                            return;
                        }

                        linkForm.loadDefault();
                        groupForm.loadDefault();

                        nodes.getItem(p.id, function (node) {
                            nodeForm.load(node);
                            $('#atnode').trigger("click");
                        });

                        break;
                    case "link":
                        if (editMode) {
                            return;
                        }

                        nodeForm.loadDefault();
                        groupForm.loadDefault();

                        links.getItem(p.id, function (link) {
                            linkForm.load(link);
                            $('#atlink').trigger("click");
                        });

                        break;
                    case "group":
                        if (editMode) {
                            return;
                        }

                        nodeForm.loadDefault();
                        linkForm.loadDefault();

                        groups.getItem(p.id, function (group) {
                            groupForm.load(group);
                            $('#atgroup').trigger("click");
                        });

                        break;
                }
            }
        })

        //Обработка удаления объекта
        layout.on("deleteend", function (s) {
            if (s.length > 0) {
                var p = s[0];
                switch (p.type) {
                    case "node":
                        nodes.delete(p.id);
                        break;
                    case "link":
                        links.delete(p.id);
                        break;
                    case "group":
                        groups.delete(p.id);
                        break;
                }
            }
        })

        //Обработка отмены операции
        layout.on("actioncancelled", function (action) {
            if (action == 0)
                return;

            CancelCurrentAction();

            setTimeout(Select, 100);
        });

        //форма редактирования свойств узла
        nodeForm = f$.nodeForm("node_form", function (node) /*Добавление/Сохранение*/ {
            if (!node.id) {
                //Добавление
                layout.node = node;
                DrawNode();
            }
            else {
                //Сохранение
                nodes.update(node.id, node);
            }
        }, function () {
            //Очистка свойств
        });
        nodeForm.setNodeLayout(layoutNode);



        //форма редактирования свойств связи
        linkForm = f$.linkForm("link_form", function (link) /*Добавление/Сохранение*/ {
            if (!link.id) {
                //Добавление
                layout.link = link;
                DrawLink();
            }
            else {
                //Сохранение
                links.update(link.id, link);
            }
        }, function () {
            //Очистка свойств
        });


        //форма редактирования свойств группы
        groupForm = f$.groupForm("group_form", function (group) /*Добавление/Сохранение*/ {
            if (!group.id) {
                //Добавление
                layout.group = group;
                DrawGroup();
            }
            else {
                //Сохранение
                groups.update(group.id, group);
            }
        }, function () {
            //Очистка свойств
        });

        //Старт режима по умолчанию
        actionToStart();
    });
</script>
