﻿@{
    ViewBag.Title = "Состояния";
}

<div class="schematics-window">
    <div class="schematics-control pull-right" id="form" style="width:300px;">
    </div>

    <div class="schematics-control" id="list" style="margin-right: 300px !important; height: 800px; overflow: auto;">
    </div>
</div>


<script>
    $(document).ready(function () {
        console.log("Старт сервисов схематики.");

        //список
        var list = f$.stateList("list", function (event, data) {
            if (event == "update") {
                //чтение из базы данных
                var item = list.getItem(data, function (state) {
                    form.load(state);
                });
            }
        });

        //форма редактирования свойств
        var form = f$.stateForm("form", function (state) /*Добавление/Сохранение*/ {
            if (!state.id) {
                list.add(state);
            }
            else {
                list.update(state.id, state);
            }
        }, function () {
        });
    });
</script>
