﻿@{
    ViewBag.Title = "Типы узлов";
}

<div class="schematics-window">
    <div class="schematics-control pull-right" id="form" style="width:300px;">
    </div>

    <div class="schematics-control" id="list" style="margin-right: 300px !important; height: 800px; overflow: auto;">
    </div>

</div>


<script>
    $(document).ready(function () {
        console.log("Старт сервисов схематики.");

        //список
        var list = f$.nodeTypeList("list", function (event, data) {
            if (event == "update") {
                //чтение из базы данных
                var item = list.getItem(data, function (nodeType) {
                    form.load(nodeType);
                });
            }
        });

        //форма редактирования свойств
        var form = f$.nodeTypeForm("form", function (nodeType) /*Добавление/Сохранение*/ {
            if (!nodeType.id) {
                list.add(nodeType);
            }
            else {
                list.update(nodeType.id, nodeType);
            }
        }, function () {
        });
    });
</script>
