﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Ошибка.</h1>
        <h2>В процессе обработки запроса произошла ошибка.</h2>
    </hgroup>
</body>
</html>
