﻿@{
    ViewBag.Title = "Стили";
}

<div class="schematics-window">
    <div class="schematics-control pull-left" id="list" style="width:400px; max-height: 800px; overflow: auto;">
    </div>

    <div class="schematics-control pull-right" style="width:300px;">
        <h3 style="margin-top:0px;">Свойства стиля</h3>
        <div id="form" style="width:300px;">
        </div>
    </div>

    <div class="schematics-control" style="margin-left: 400px !important; margin-right: 300px !important;">
        <div class="schematics-toolbar">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle glyphicon glyphicon-plus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Добавить...">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="Draw('Point')">Точка</a></li>
                        <li><a href="#" onclick="Draw('LineString')">Ломаная</a></li>
                        <li><a href="#" onclick="Draw('Polygon')">Полигон</a></li>
                        <li><a href="#" onclick="Draw('Circle')">Окружность</a></li>
                        <li><a href="#" onclick="Draw('Square')">Квадрат</a></li>
                        <li><a href="#" onclick="Draw('Box')">Прямоугольник</a></li>
                        <li><a href="#" onclick="Draw('Polygon36')">Многоугольник (36 углов)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" onclick="DrawCenter()">Центр</a></li>
                        <li><a href="#" onclick="DrawConnectionPoint()">Точка привязки</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" onclick="DrawLabel()">Подпись</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default glyphicon glyphicon-pencil" onclick="Modify()" title="Редактировать выбранную геометрию"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" onclick="Delete()" title="Удалить выбранную геометрию"></button>
            </div>

            <div class="btn-group" id="scope_actions">
                <button type="button" id="copy_scope" class="btn btn-default glyphicon glyphicon-copy disabled" onclick="CopyScope()" title="Копировать"></button>
                <button type="button" id="paste_scope" class="btn btn-default glyphicon glyphicon-paste disabled copy-paste" onclick="PasteScope()" title="Вставить"></button>
                <button type="button" id="rotate_right" class="btn btn-default glyphicon glyphicon-menu-right disabled" onclick="RotateScope(-90)" title="Повернуть на 90 градусов"></button>
                <button type="button" id="rotate_left" class="btn btn-default glyphicon glyphicon-menu-left disabled" onclick="RotateScope(90)" title="Повернуть на -90 градусов"></button>
                <button type="button" id="rotate_updown" class="btn btn-default glyphicon glyphicon-menu-down disabled" onclick="RotateScope(180)" title="Повернуть на 180 градусов"></button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-default glyphicon glyphicon-plus-sign" onclick="Scale(2)" title="Увеличить всю геометрию в два раза"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-minus-sign" onclick="Scale(0.5)" title="Уменьшить всю геометрию в два раза"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-erase" onclick="Clear()" title="Очистить всю геометрию"></button>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info glyphicon glyphicon-th" onclick="ToggleGrid()" title="Сетка"></button>
                <button type="button" class="btn btn-default glyphicon glyphicon-fullscreen" onclick="Fit()" title="Вписать геометрию в экран"></button>
            </div>
        </div>

        <div id="layout" class="schematics-layout" style="width: 100%; height: 800px;">
        </div>
    </div>

</div>


<script>
    var layout = null;

    function EnableScopeActions(enable) {
        if (enable) {
            $("#scope_actions button:not(.copy-paste)").removeClass("disabled");
        } else {
            $("#scope_actions button:not(.copy-paste)").addClass("disabled");
        }

    }

    function Fit() {
        layout.fit();
    }

    function CopyScope() {
        layout.copyScope();
        $("#paste_scope").removeClass("disabled");
    }

    function PasteScope() {
        layout.drawPastePosition();
    }

    function RotateScope(angle) {
        layout.rotateScope(angle);
    }

    function Scale(factor) {
        layout.scale(factor);
    }

    function Draw(geometryType) {
        layout.startDraw(geometryType);
    }

    function Modify() {
        layout.startModify();
    }

    function Delete() {
        layout.startDelete();
    }

    function Clear() {
        if (!confirm("Очистить всё?")) {
            return;
        }

        layout.load(null);
    }

    function DrawCenter() {
        layout.startDrawBindingPoint()
    }

    function DrawConnectionPoint() {
        layout.startDrawTerminals()
    }

    function DrawLabel() {
        layout.startDrawLabels()
    }

    function ToggleGrid() {
        layout.toggleGrid();
    }

    $(document).ready(function () {
        console.log("Старт сервисов схематики.");

        //Отключение операций с выбранной геометрией
        EnableScopeActions(false);

        //layout для отображения стиля
        layout = s$.styleLayout("layout");

        //Изменение количества выбранных для редактирования элементов
        layout.on("modifyscopechanged", function (size) {
            EnableScopeActions(size > 0);
        });

        //список стилей
        var list = f$.styleList("list", function (event, data) {
            if (event == "update") {
                //чтение стиля из базы данных
                var item = list.getItem(data, function (style) {
                    form.load(style);
                    layout.load(style);
                });
            }
            if (event == "copy") {
                //чтение стиля из базы данных
                var item = list.getItem(data, function (style) {
                    delete style.id;
                    form.load(style);
                    layout.load(style);
                });
            }
        });

        //форма редактирования свойств стиля
        var form = f$.styleForm("form", function (style) /*Добавление/Сохранение*/ {
            layout.save(style);

            if (!style.id) {
                list.add(style);
            }
            else {
                list.update(style.id, style);
            }

            layout.load(null);
        }, function (style) {
            //Применение стиля без сохранения
            layout.setStyle(style);
        }, function () {
            //Очистка геометрии
            layout.load(null);
            form.load(layout.getDefaultStyle());
        });

        //Передача layout
        form.setStyleLayout(layout);

        //Синхронизация стиля
        form.load(layout.getDefaultStyle());
    });
</script>
