﻿@{
    ViewBag.Title = "Типы групп";
}

<div class="schematics-window">
    <div class="schematics-control pull-right" id="form" style="width:300px;">
    </div>

    <div class="schematics-control" id="list" style="margin-right: 300px !important; height: 800px; overflow: auto;">
    </div>

</div>


<script>
    $(document).ready(function () {
        console.log("Старт сервисов схематики.");

        //список
        var list = f$.groupTypeList("list", function (event, data) {
            if (event == "update") {
                //чтение из базы данных
                var item = list.getItem(data, function (groupType) {
                    form.load(groupType);
                });
            }
        });

        //форма редактирования свойств
        var form = f$.groupTypeForm("form", function (groupType) /*Добавление/Сохранение*/ {
            if (!groupType.id) {
                list.add(groupType);
            }
            else {
                list.update(groupType.id, groupType);
            }
        }, function () {
        });
    });
</script>
